{% extends 'base_generic.html' %}
{% block title %}
<title>Me In 4X | Home</title>
{% endblock %}
{% block sidebar %}
<ul class="sidebar-nav">
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log in</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% endif %}
</ul>
{% endblock %}
{% block content %}
<p>
    Welcome to <br>
    <h3>Me in 4X,</h3><br>
    Here, you can view yourself in 4X by saving your memories.
</p>
{% endblock %}