{% extends 'base_generic.html' %}
{% block title %}
Me in 4x | account activation invalid
{% endblock title %}
{% block body %}
<div class="row align-items-center">
    <div class="col-12">
        <p>Email verification failed, probably your one time link is expired link expired</p>
        <h3>Follow below procedure to re-register</h3>
        <ul>
            <li>Send a delete request to the email you used for registering. <a href="{% url 'delete_account' %}" class="btn btn-outline-warning" role="button">Click here</a> </li>
            <li>Re-register using same email address again.</li>
            <li>Verify your email address.</li>
        </ul>
    </div>
</div>
{% endblock body %}
{% comment %}
{% block sidebar %}
<ul class="sidebar-nav">
    <li><a href="{% url 'home' %}">home</a></li>
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>
{% endblock %}
{% block content %}
<p>
    Email verification failed, probably link expired.
</p>
{% endblock %}
{% endcomment %}