<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% load static %} {% block title %}{% endblock title%}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/iziToast.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}"> {% block head %}{% endblock head %}
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm static-top">
        <div class="container">
            <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#Navbar"><span
                    class="navbar-toggler-icon"></span></button>
            <a href="{% url 'home' %}" class="navbar-brand mr-auto">Me in 4x</a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    {% block navlinks %}{% endblock navlinks %}
                </ul>
            </div>
            <span class="navbar-text">
                <a href="https://github.com/m-e-l-u-h-a-n/me_in_4x"><i class="fa fa-github"></i></a>
            </span>
        </div>
    </nav>
    {% block header %}{% endblock header %}
    <div class="container">
        {% block body %}{% endblock body %}
    </div>
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row justify-content-center">
                <p>Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All Rights Reserved</p>
            </div>
            <div class="row justify-content-center">
                <a href="https://github.com/m-e-l-u-h-a-n" class="btn btn-social-icon btn-github"><i
                        class="fa fa-github"></i></a>
                <a href="https://linkedin.com/in/purushottam-tiwari-5853b0190" class="btn btn-social-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="http://wa.me/918955316471" class="btn btn-social-icon"><i class="fa fa-whatsapp"
                        style="background-color: rgb(43, 167, 18); color: ghostwhite;"></i></a>
                <a href="mailto:purushottamtiwaribanda@gmail.com" class="btn btn-social-icon"><i
                        style="color: rgb(20, 95, 124);" class="fa fa-envelope-o "></i></a>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->
    <script src="{% static 'js/iziToast.min.js' %}"></script>
    {% block footer %}{% endblock footer %}
    <script>
        $(document).ready(function() {
            setInterval(function() {
                var docHeight = $(window).height();
                var footerHeight = $('#footer').height();
                var footerTop = $('#footer').position().top + footerHeight;
                var marginTop = (docHeight - footerTop + 10);

                if (footerTop < docHeight)
                    $('#footer').css('margin-top', marginTop + 'px');
                else
                    $('#footer').css('margin-top', '0px');
            }, 250);
        });
    </script>
</body>

</html>