{% extends 'base_generic.html' %} {% load static %} {% block title %}
<title>Me in 4x | Dashboard</title>
{% endblock title %} {% block navlinks %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link"><span class="fa fa-home fa-lg"></span> Home</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item active"><a href="{% url 'dashboard' %}" class="nav-link"><i class="fa fa-inbox fa-lg"></i>
        Dashboard</a></li>
<li class="nav-item"><a href="{% url 'add-memories' %}" class="nav-link"><i class="fa fa-database fa-lg"></i>
        Add Memory</a></li>
<li class="nav-item dropdown active">
    <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{user.username}}
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if user.profile.email_confirmed %}
        <a href="" class="dropdown-item"><span class="fa fa-check fa-lg"></span>Email confirmed</a> {% else %}
        <a href="" class="dropdown-item"><span class="fa fa-times fa-lg"></span>Email not verified</a> {% endif %}
        <a href="{% url 'logout' %}" class="dropdown-item"><span class="fa fa-sign-out fa-lg"></span>Logout</a>
        <a href="{% url 'delete_account' %}" class="dropdown-item"><span class="fa fa-trash fa-lg"></span>Delete
            account</a>
    </div>
</li>
<li class="nav-item"></li>
{% else %}
<li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><span class="fa fa-cash-register"></span>
        Register</a>
</li>
<li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</li>
{% endif %} {% endblock navlinks %} {% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"> {% endblock head %} {% block header %} {% if user.profile.email_confirmed %}
<div class="email-info">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 offset-1"><strong>You haven't verified your email, please verify it within seven days of registering.</strong></div>
            <div class="col-1">
                <span id="info-remover">&times;</span>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock header %} {% block body %} {% if memories|length %}
<div class="row align-items-center">
    <h2>Your memories will be listed here.</h2>
</div>
{% else %}
<div class="row">
    <div class="info">
        <div class="container">
            <div class="row justify-content-center">
                <h4><strong>You don't have any memories added with your account.</strong></h4>
            </div>
            <div class="row justify-content-center">
                <span>Head over here to add some. <a href="{% url 'add-memories' %}" role="button"
                        class="btn btn-outline-primary">Add memories.</a></span>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock body %} {% block footer %}
<script>
    let btn = document.getElementById("#info-remover");
    btn.addEventListener('click', function() {
        btn.style = "display: none;";
    });
</script>
{% endblock footer %}