{% extends 'base_generic.html' %} {% block title %}
<title>Me in 4x | Delete account</title>
{% endblock title %} {% block navlinks %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link"><span class="fa fa-home fa-lg"></span> Home</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link"><i class="fa fa-inbox fa-lg"></i>
        Dashboard</a></li>
<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="fa fa-sign-out fa-lg"></span>Logout</a>
</li>
<li class="nav-item active"><a href="{% url 'delete_account' %}" class="nav-link"><span
            class="fa fa-trash fa-lg"></span>Delete account</a></li>
{% else %}
<li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><i class="fa fa-cash-register"></i> Register</a>
</li>
<li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</li>
{% endif %} {% endblock navlinks %}{% block body %}
<div class="row">
    <h4><strong>Enter either of email or username to delete to the account.</strong></h4>
</div>
<div class="row" style="margin-top: 80px;">
    <div class="form-group col-md-12">
        <div class="container">
            <div class="row">
                <label for="id_email" class="form-label col-12 col-md-2 align-self-center"><strong>Email:</strong></label>
                <input type="email" name="email" maxlength="256" id="id_email" class="form-control col-12 col-md-10">
            </div>
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="container">
            <div class="row">
                <label for="id_username" class="form-label col-md-2 align-self-center"><strong>Username:</strong></label>
                <input type="text" name="username" maxlength="256" id="id_username" class="form-control col-md-10">
            </div>
        </div>
    </div>
    <div class="col-md-12 form-group">
        <div class="container">
            <button onclick="deleteAccount()" class="btn btn-outline-warning text-black">Delete account</button>
        </div>
    </div>
</div>
{% endblock body %} {% block footer %}
<script>
    function deleteAccount() {
        const username = document.getElementById("id_username").value;
        const email = document.getElementById("id_email").value;
        console.log(`username = ${username}`);
        console.log(`email = ${email}`);
        console.log('user.username= ' + "{{user.username}}");
        if (username.length == 0 && email.length == 0) {
            iziToast.warning({
                title: "Warning",
                message: "Enter at least one field",
                position: "bottomCenter"
            });
        } else {
            if ((username.length > 0 && username != "{{user.username}}") || (email.length > 0 && email != "{{user.email}}")) {
                iziToast.warning({
                    title: "Warning",
                    message: "Please enter your account's credentials!",
                    position: "bottomCenter"
                });
            } else {
                let way;
                if (username != '' && email == '') {
                    way = "u";
                } else if (username == '' && email != '') {
                    way = "e";
                } else {
                    way = "b";
                }
                $.ajax({
                    url: "{% url 'delete_account' %}",
                    method: "POST",
                    data: {
                        way: way,
                        username: username,
                        email: email,
                    },
                    statusCode: {
                        200: function(data, status, xhr) {
                            let message = data.message;
                            iziToast.success({
                                title: "Success",
                                message: message,
                                position: "center",
                                timeout: 2000,
                                transitionIn: 'bounceInDown',
                                onClosing: function(instance, toast) {
                                    window.location.replace("{% url 'home' %}");
                                },
                            });
                        },
                        203: function(data, status, xhr) {
                            let message = data.message;
                            iziToast.info({
                                title: "Info",
                                message: message,
                                position: "bottomCenter"
                            });
                        },
                        404: function(xhr, status, err) {
                            iziToast.show({
                                title: "Error",
                                message: "Coudln't delete now some problem occured.",
                                color: "red",
                                position: "bottomCenter"
                            });
                        },
                        500: function(xhr, status, xhr) {
                            iziToast.show({
                                title: "Error",
                                message: "Interval Server problem occured."
                            });
                        }
                    }
                })
            }
        }
    }
</script>
{% include 'notification.html' %} {% endblock footer %}