{% extends 'base_generic.html' %} {% block title %}
<title>Me In 4X | Login</title>
{% endblock title%} {% block navlinks %}
<li class="nav-item">
    <a href="{% url 'home' %}" class="nav-link"><span class="fa fa-home fa-lg"></span> Home</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link"><i class="fas fa-inbox fa-lg"></i>
        Dashboard</a></li>
<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="fa fa-sign-out fa-lg"></span>Logout</a>
</li>
<li class="nav-item"><a href="{% url 'delete_account' %}" class="nav-link"><span
            class="fa fa-trash-alt fa-lg"></span>Delete account</a></li>
{% else %}
<li class="nav-item"><a href="{% url 'signup' %}" class="nav-link"><i class="fas fa-cash-register"></i> Register</a>
</li>
<li class="nav-item active"><a href="{% url 'login' %}" class="nav-link"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</li>
{% endif %} {% endblock navlinks %} {% block body %}
<form action="" method="POST" id="form">
    {% csrf_token %}
    <div class="row" style="margin-top: 80px;">
        <div class="form-group col-md-12">
            <div class="container">
                <div class="row">
                    <label for="id_username" class="form-label col-md-2 align-self-center"><strong>Username:</strong></label>
                    <input type="text" name="username" maxlength="256" required id="id_username" class="form-control col-md-10">
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="container">
                <div class="row">
                    <label for="id_password" class="form-label col-12 col-md-2 align-self-center"><strong>Password:</strong></label>
                    <input type="password" name="password" maxlength="256" required id="id_password" class="form-control col-12 col-md-10">
                </div>
            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="container">
                <button type="submit" class="btn btn-outline-warning text-black">Login</button>
            </div>
        </div>
    </div>
</form>
{% endblock body %}