{% extends 'base_generic.html' %}
{% block title %}
<title>Me In 4X | Login</title>
{% endblock %}
{% block sidebar %}
<a href="{% url 'home' %}">Home</a>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{field.label_tag}}<br>
        {{field}}
        {% if field.help_text %}
        <small style="color: grey;">{{field.help_text}}</small>
        {% endif %}
        {% for errors in field.errors %}
        <p style="color: red;">{{ errors }}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Login</button>
</form>
{% endblock %}
